body{
	background-color: #016f98;
	color: #ccccff;
}
table{	width: 100%;
}
h3{	color: #ccccff;
}
.Monogram {
	width: 250px;
}
.Mareframe{
	width: 350px;
	height: 250px;
}
.KEMPROS{
	width:400px;
	height: 250px;
}